<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.privatepro05.per.FleaMapper">
    <select id="fleaList" resultType="com.chunjae.privatepro05.entity.Flea">
        select * from flea order by id desc
    </select>
    <select id="getFlea" resultType="com.chunjae.privatepro05.entity.Flea">

    </select>
</mapper>