<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.privatepro05.per.ItemMapper">
    <select id="itemList" resultType="com.chunjae.privatepro05.entity.Item">
        select * from item order by id desc
    </select>
    <select id="getItem" resultType="com.chunjae.privatepro05.entity.Item">
        select * from item where ino = #{ino}
    </select>
    <insert id="itemInsert">
        insert into item values(default, #{iname}, #{price}, #{img}, #{des}, #{username}, #{tel}, #{stat}, default)
    </insert>
    <update id="itemUpdate">
        update item set iname = #{iname}, price = #{price}, img = #{img}, des = #{des}, username = #{username}, tel = #{tel}, stat = #{stat}
    </update>
    <delete id="itemDelete">
        delete from item where ino=#{ino}
    </delete>
</mapper>